body {
    margin: 0;
    padding: 0;
    background: hsla(291, 52%, 50%, 0.92);
  }
  
  .game {
    position: absolute;
    width: 100%;
    height: 100%;
   
    margin: 0 25%;
  }
  
  .peg {
    width: 30px;
    height: 300px;
    background: rgba(179, 177, 177, 0.509);
    position: absolute;
    margin: 40px;
    border-radius: 10%;
  }
  
  .disk {
    width: 80px;
    height: 200px;
    background: rgb(230, 34, 129);
    margin: 10px;
    border-radius: 5%;
    position: absolute;
  }
